.header_btn{
    background-color: #c00000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px;
    transition: 0.211s;
    margin: auto;
}
.header_btn:hover{
    background-color: black;
    color: rgb(192, 0, 0);
}
.header_btn:active{
    background-color: rgb(34, 34, 34);
    color: rgb(255, 0, 0);
    /* color: aquamarine; */
}